route:
  group_wait: 20s
  group_interval: 20s
  repeat_interval: 1h
  group_by: ['alertname', 'cluster', 'service']
  receiver: telegram

templates:
  - "/etc/alertmanager/templates/*.tmpl"

receivers:
  - name: telegram
    telegram_configs:
      - api_url: https://api.telegram.org
        parse_mode: "HTML"
        message: '{{ template "telegram.default" .}}'
#        chat_id: 111111111                                 # your telegram user id
#        bot_token: 1111111111:AAAAAAAAAAAAAAAAAAAAAAAAAA   # your telegram bot token
